.content {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .navbar {
    background: rgba(0, 0, 0, 0.75);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    .nav-link,
    .navbar-brand {
      color: #f1f1f1;
      transition-duration: 0.3s;
      text-align: center;

      &:hover {
        color: rgb(190, 124, 0);
      }
    }

    #sgnup {
      color: rgb(190, 124, 0);
      font-weight: bolder;
      &:hover {
        color: rgba(190, 124, 0, 0.55);
        outline: 1px solid rgba(190, 124, 0, 0.55);
      }
    }

    #logout {
      cursor: pointer;
      color: rgb(231, 54, 0);
      font-weight: bolder;

      &:hover {
        color: #f1f1f1;
      }
    }
  }
}
