.cont {
  min-height: calc(100vh - 55.97px);
  background-color: rgba(255, 255, 255, 0.5);

  .view-account {
    background-color: rgba(50, 50, 50, 0.9);
    color: #f1f1f1;

    .side-bar {
      padding-bottom: 30px;

      .user-info {
        text-align: center;
        margin-bottom: 15px;
        padding: 30px;

        border-bottom: 1px solid rgb(190, 124, 0);

        .img-profile {
          width: 120px;
          height: 120px;
          margin-bottom: 15px;
        }

        .meta li a {
          color: rgb(190, 124, 0);
        }
      }

      .side-menu {
        text-align: center;

        .nav {
          display: inline-block;
          margin: 0 auto;

          li {
            font-size: 14px;
            display: inline-block;
            margin-right: 15px;
            margin-bottom: 15px;

            a {
              display: inline-block;
              padding: 5px;
              color: rgb(190, 124, 0);
            }

            &.active a {
              border-bottom: 2px solid rgb(190, 124, 0);
            }
          }
        }

        .nav > li:last-child {
          margin-right: 0;
        }
      }
    }

    .content-panel {
      padding: 30px;

      .title {
        padding-bottom: 15px;
        margin-bottom: 15px;
        font-size: 18px;
        border-bottom: 1px solid #ddd;
      }

      .fieldset-title {
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 15px;
        color: #f1f1f1;
        font-size: 16px;
      }

      .alertmessage {
        color: rgb(190, 124, 0);
      }

      .btn {
        background-color: rgb(190, 124, 0);
        outline: none;
        border: none;
        box-shadow: none;
        transition: 0.3s;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .view-account {
      .content-panel .title {
        text-align: center;
      }

      .side-bar .user-info {
        .img-profile {
          width: 60px;
          height: 60px;
        }

        .meta li {
          margin-bottom: 5px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .view-account .side-bar .user-info {
      padding: 0;
      padding-bottom: 15px;
    }
  }

  @media (min-width: 992px) {
    .view-account {
      .content-panel {
        min-height: 800px;
        border-left: 1px solid rgb(190, 124, 0);
        margin-left: 250px;
      }

      .side-bar {
        position: absolute;
        width: 250px;
        min-height: 600px;

        .user-info {
          margin-bottom: 0;
          border-bottom: none;
          padding: 30px;

          .img-profile {
            width: 120px;
            height: 120px;
          }
        }

        .side-menu {
          text-align: left;

          .nav {
            display: block;

            li {
              display: block;
              float: none;
            }

            li.active {
              background-color: #555;
              width: 100%;
              height: 40px;
              margin-bottom: 5px;
            }

            li.active a {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
