<div class="cont">
  <div class="container">
    <div class="view-account">
      <section class="module">
        <div class="module-inner">
          <!-- sidebar -->
          <div class="side-bar">
            <div class="user-info">
              <img
                class="img-profile img-circle img-responsive center-block"
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                alt="profile-pic"
              />
              <ul class="meta list list-unstyled">
                <li class="name">
                  {{ userProfile.get("fname").value }}
                  {{ userProfile.get("lname").value }}
                </li>
                <li class="email">
                  <a href="#/profile">{{ userProfile.get("email").value }}</a>
                </li>
              </ul>
            </div>
            <!-- menu -->
            <nav class="side-menu">
              <ul class="nav">
                <li class="active">
                  <a href="#/profile"
                    ><span class="fa fa-user"></span> Profile</a
                  >
                </li>
                <li>
                  <a href="#/profile"
                    ><span class="fa fa-cog"></span> Settings</a
                  >
                </li>
              </ul>
            </nav>
          </div>
          <!-- profile form -->
          <div class="content-panel">
            <h2 class="title">Profile</h2>
            <form
              class="form-horizontal"
              [formGroup]="userProfile"
              (ngSubmit)="saveUser()"
            >
              <fieldset class="fieldset">
                <div class="form-group">
                  <label class="col-md-6 col-xs-12 control-label" for="fname"
                    >First Name *</label
                  >
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input
                      type="text"
                      class="form-control"
                      name="fname"
                      placeholder="Enter your first name.."
                      formControlName="fname"
                    />
                    <div
                      class="alertmessage"
                      *ngIf="f.fname.invalid && f.fname.touched"
                    >
                      <div *ngIf="f.fname.errors?.required">
                        First name is required..
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-6 col-xs-12 control-label" for="lname"
                    >Last Name *</label
                  >
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input
                      type="text"
                      class="form-control"
                      name="lname"
                      placeholder="Enter you last name.."
                      formControlName="lname"
                    />
                    <div
                      class="alertmessage"
                      *ngIf="f.lname.invalid && f.lname.touched"
                    >
                      <div *ngIf="f.lname.errors?.required">
                        Last name is required..
                      </div>
                    </div>
                  </div>
                </div>
                <br />
              </fieldset>
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Account Info</h3>
                <div class="form-group">
                  <label class="col-md-6 col-xs-12 control-label" for="email"
                    >Email *</label
                  >
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      placeholder="Enter your email.."
                      formControlName="email"
                    />
                    <div
                      class="alertmessage"
                      *ngIf="f.email.invalid && f.email.touched"
                    >
                      <div *ngIf="f.email.errors?.required">
                        Email is required..
                      </div>
                      <div *ngIf="f.email.errors?.email">Invalid email..</div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-6 col-xs-12 control-label" for="username"
                    >User Name *</label
                  >
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input
                      type="text"
                      class="form-control"
                      name="username"
                      placeholder="Enter an username.."
                      formControlName="username"
                    />
                    <div
                      class="alertmessage"
                      *ngIf="f.username.invalid && f.username.touched"
                    >
                      <div *ngIf="f.username.errors?.required">
                        Username is required..
                      </div>
                      <div *ngIf="f.username.errors?.minlength">
                        Username too short..
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-6 col-xs-12 control-label" for="password"
                    >Password *</label
                  >
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      placeholder="Enter your password.."
                      formControlName="password"
                    />
                    <div
                      class="alertmessage"
                      *ngIf="f.password.invalid && f.password.touched"
                    >
                      <div *ngIf="f.password.errors?.required">
                        Password is required..
                      </div>
                      <div *ngIf="f.password.errors?.minlength">
                        Password too short..
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-6 col-xs-12 control-label" for="confirm"
                    >Confirm Password *</label
                  >
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input
                      type="password"
                      class="form-control"
                      name="confirm"
                      placeholder="Confirm your password.."
                      formControlName="confirm"
                    />
                    <div
                      class="alertmessage"
                      *ngIf="
                        f.confirm.invalid &&
                        (f.confirm.touched || f.password.touched)
                      "
                    >
                      <div *ngIf="f.confirm.errors?.required">
                        Confirmation is required..
                      </div>
                    </div>
                    <div
                      class="alertmessage"
                      *ngIf="pwdoesntmatch() && f.confirm.touched"
                    >
                      Confirmation doesn't match..
                    </div>
                  </div>
                </div>
              </fieldset>
              <hr />
              <div class="form-group">
                <div
                  class="
                    col-md-10
                    col-sm-9
                    col-xs-12
                    col-md-push-2
                    col-sm-push-3
                    col-xs-push-0
                  "
                >
                  <input
                    class="btn btn-primary"
                    type="submit"
                    value="Update Profile"
                    [disabled]="userProfile.invalid"
                  />
                  <div class="alertmessage" *ngIf="this.profileUpdated">
                    Profile Updated !
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
