html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: cursive;

  background: url("assets/images/bckg.png") center no-repeat fixed;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
}
